$app-green: rgb(32, 117, 89);

body {
  background: azure;
  margin: 0;
  padding: 0;
}

.header {
  background-color: $app-green;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 20px 5px;
  color: azure;
  box-shadow: 0 2px 12px $app-green;

  .is-active {
    font-size: larger;
  }

  a {
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
  }
}

.container {
  padding: 1rem 2.5rem;
}

select,
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  margin: 10px 0;
  color: $app-green;
  outline: none;

  :focus {
    background-color: $app-green;
    border-color: aquamarine;
    outline: $app-green;
  }
}

button {
  background-color: $app-green;
  color: white;
  border: 0;
  padding: 8px;
  margin: 8px 0;
  cursor: pointer;
}

.expense-item {
  border: 1px solid $app-green;
  margin: 8px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px;
  border-radius: 0 17px;
}

.errorText {
  color: red;
}